@import "variables.less";
@import "mixins.less";
@import "global/fonts.less";

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  text-align: center;
  margin: 0;
  padding: 0;
}

ul {
   padding-left: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

@import "blocks/page-header.less";
@import "blocks/page-header-desktop.less";
@import "blocks/app-image.less";
@import "blocks/download.less";
@import "blocks/app-intro.less";
@import "blocks/app-advantages.less";
@import "blocks/app-effect.less";
@import "blocks/reviews.less";
@import "blocks/purchase.less";
@import "blocks/contacts.less";
@import "blocks/contest-intro.less";
@import "blocks/form__wrapper.less";
@import "blocks/contest-descr.less";
@import "blocks/contest-contacts.less";
@import "blocks/contest-achievments.less";
@import "blocks/contest-connect.less";
@import "blocks/contest-app.less";
@import "blocks/contest-feedback.less";
@import "blocks/footer.less";
@import "blocks/photo-intro.less";
@import "blocks/photos.less";
@import "blocks/app-appeal.less";
@import "blocks/photo-edit.less";


