.app-effect {
    display: flex;


     @media @desktop-widths {
       width: 940px;
       margin: 0 auto;

      .app-effect__title {
        font-size: 30px;
        line-height: 20px;
      }

      .app-effect__text {
        font-size: 18px;
        line-height: 30px;
      }
    }

    @media @tablet-widths {
      width: 620px;
      margin: 0 auto;

      .app-effect__title {
        font-size: 30px;
        line-height: 36px;
      }

      .app-effect__text {
        font-size: 14px;
        line-height: 24px;
      }
    }

    @media @mobile-widths {
      display: none;
    }

}
