.app-advantages {
    background-color: @gray;
    color: @blue;
    padding-top: 40px;

    .app-advantages__wrapper {
      display: flex;
      margin: 0 auto;

      @media @desktop-widths {
        width: 940px;
        flex-direction: row;
      }

      @media @tablet-widths {
        width: 620px;
        flex-direction: column;
      }

      @media @mobile-widths {
        width: 280px;
        flex-direction: column;
      }
    }

    .app__reasons {

      @media @desktop-widths {
        width: 33%;
        margin-right: 60px;
      }

      @media @tablet-widths {
        width: 50%;
      }

      @media @mobile-widths {
        width: 100%;
      }


      .app-reasons__title {
        color: @black;
        line-height: 24px;

        @media @desktop-widths {
          font-size: 30px;
        }

        @media @tablet-widths {
          font-size: 18px;
        }

        @media @mobile-widths {
          font-size: 18px;
        }
     }

      .app-reasons__text {
        line-height: 24px;
        padding-bottom: 40px;

        @media @desktop-widths {
          font-size: 18px;
        }

        @media @tablet-widths {
          font-size: 14px;
        }

        @media @mobile-widths {
          font-size: 14px;
        }
      }

      .app-advantages__mood, .app-advantages__change {

        @media @tablet-widths {
          display: none;
        }

        @media @mobile-widths {
          display: none;
        }
      }

    }

}
