.app-advantages {
    background-color: @gray;
    color: @blue;
    padding: 0 20px;
    padding-top: 40px;

    .app-reasons__title {
      color: @black;
      font-size: 18px;
      line-height: 24px;
    }

    .app-reasons__text {
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 40px;
    }

}
