.contest-contacts {
    padding-bottom: 45px;
    background: @white;
    text-align: left;
    margin: 0 auto;

    @media @desktop-widths {
      width: 50%;
      order: 1;
    }

    @media @tablet-widths {
      width: 620px;
      order: 1;
    }

    @media @mobile-widths {
      width: 280px;
      order: 0;
    }

    .contest-contacts__personal-input {

      @media @desktop-widths {
        width: 80%;
      }

      @media @tablet-widths {
        width: 80%;
      }

      @media @mobile-widths {
        width: 90%;
      }
    }

    .contest-contacts__personal-label {
      font-size: 14px;
      line-height: 30px;
      color: @pink;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 15px;
      margin-left: 20px;
    }
}
