.contest-intro {
    height: 237px;
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    background-size: 180%;
    background-position: -160px -30px;

    h1 {
      color: @white;
      font-weight: 300;
      font-size: 24px;
      padding-top: 80px;
      padding-left: 45px;
      padding-right: 45px;
    }

}
