.contacts {
    background-color: @white;
    color: @blue;
    padding-top: 45px;
    padding-bottom: 35px;

    .contacts__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      @media @mobile-widths {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .contacts__text {
      font-weight: 300;
      margin-bottom: 40px;
      width: 100%;

      @media @desktop-widths {
        font-size: 50px;
      }

      @media @tablet-widths {
        font-size: 40px;
      }

      @media @mobile-widths {
        font-size: 24px;
      }
    }

    .contacts__phone {

      @media @desktop-widths {
        width: 30%;
        order: 1;
      }
    }

    .contacts__email {

      @media @desktop-widths {
        width: 30%;
        order: 3;
      }

      @media @tablet-widths {
        margin-left: 100px;
      }

      @media @mobile-widths {
        margin: 0;
      }
    }

    .contacts__visit {

      @media @desktop-widths {
        width: 30%;
        order: 2;
      }

    }

    .contacts__info {
      color: @pink;
      text-decoration: none;
      font-size: 24px;
      font-weight: 300;
    }

    .contacts__title {
      margin-bottom: 10px;
      margin-top: 30px;
      font-size: 18px;
    }
}
