.contest-intro {
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;

    @media @desktop-widths {
      height: 290px;
      background-size: cover;
    }

    @media @tablet-widths {
      height: 330px;
      background-size: 150%;
      background-position: -200px -158px;
    }

    @media @mobile-widths {
      height: 237px;
      background-size: 180%;
      background-position: -160px -30px;
    }

    h1 {
      color: @white;
      font-weight: 300;
      padding-top: 80px;
      padding-left: 45px;
      padding-right: 45px;

    @media @desktop-widths {
        font-size: 50px;
      }

      @media @tablet-widths {
        font-size: 50px;
      }

      @media @mobile-widths {
        font-size: 24px;
      }
    }

}
