.contest-connect {
    background: @white;
    text-align: left;

    @media @desktop-widths {
      order: 3;
      border: 2px solid @border-light;
      margin-top: 55px;
      width: 940px;
    }

    @media @tablet-widths {
      order: 3;
      border: 2px solid @border-light;
      margin-top: 55px;
      width: 620px;
    }

    @media @mobile-widths {
      border: none;
      margin: 0 0;
      width: 280px;
      order: 0;
      padding-top: 40px;
      padding-bottom: 50px;
    }

    .contest-connect__personal-input {

      @media @desktop-widths {
        width: 373px;
      }

      @media @tablet-widths {
        width: 100%;
      }

      @media @mobile-widths {
        width: 90%;
      }
    }

    .contest-connect__personal-label {
      font-size: 14px;
      line-height: 30px;
      color: @pink;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 25px;
      margin-bottom: 15px;
      margin-left: 20px;
    }

    .mobile-only {

      @media @desktop-widths {
        display: none;
      }

      @media @tablet-widths {
        display: none;
      }

      @media @mobile-widths {
        display: inline;
      }
    }

    .desktop {

      @media @desktop-widths {
        display: inline;
      }

      @media @tablet-widths {
        display: inline;
      }

      @media @mobile-widths {
        display: none;
      }
    }

    .contest-connect__text {
      font-size: 14px;
      line-height: 18px;
      color: @pink;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;

      @media @mobile-widths {
        display: none;
      }
    }

}
