.contest-achievments {

    @media @desktop-widths {
      order: 4;
      border: 2px solid @border-light;
      background: @white;
      margin-top: 55px;
    }

    @media @tablet-widths {
      order: 4;
      border: 2px solid @border-light;
      background: @white;
      margin-top: 55px;
    }

    @media @mobile-widths {
      border: none;
      margin: 0 0;
      order: 0;
      background: @gray;
      padding-top: 37px;
      padding-bottom: 50px;
      width: 100%;
    }

    .contest-achievments__wrapper {
      @media @mobile-widths {
        width: 280px;
        margin: 0 auto;
      }
    }

    .contest-achievments__text {
      font-size: 14px;
      line-height: 18px;
      color: @pink;
      text-transform: uppercase;
      font-weight: 400;
    }

    .contest-achievments__select-label {
      font-size: 18px;
      line-height: 30px;
      color: @blue;
      margin-left: 30px;
    }
}
