.contest-app {
    padding: 37px 20px;
    background: @gray;
    padding-left: 20px;
    padding-right: 20px;

    @media @desktop-widths {
      background: @white;
    }

    @media @tablet-widths {
      background: @white;
    }

    .contest-app__text {
      font-size: 14px;
      line-height: 18px;
      color: @pink;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 35px;
    }

    .contest-app__select-label {
      font-size: 18px;
      line-height: 30px;
      color: @blue;
      margin-left: 20px;
    }
}
