footer {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;

    @media @desktop-widths {
      flex-direction: row;
    }

    @media @tablet-widths {
      flex-direction: row;
    }

    @media @mobile-widths {
      flex-direction: column;
    }

    .footer__social-button {
      font-size: 0;
    }

    .footer__copyright p {
      font-size: 14px;
      line-height: 18px;
      color: @blue;
    }

    .footer__copyright a {
      font-size: 0;
    }

    .main-footer {

      @media @mobile-widths {
        display: none;
      }
    }

}
