footer {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    @media @desktop-widths {
      flex-direction: row;
      width: 940px;
      margin: 0 auto;
    }

    @media @tablet-widths {
      flex-direction: row;
      width: 620px;
      margin: 0 auto;
    }

    @media @mobile-widths {
      flex-direction: column;
      width: 280px;
      margin: 0 auto;
    }

    .footer__social-button {
      font-size: 0;
    }

    .footer__copyright p {
      font-size: 14px;
      line-height: 18px;
      color: @blue;
    }

    .footer__copyright a {
      font-size: 0;
    }

    .main-footer {

      @media @mobile-widths {
        display: none;
      }
    }

}
