footer {
    padding-top: 40px;

    .footer__social-button {
      font-size: 0;
    }

    .footer__copyright p {
      font-size: 14px;
      line-height: 18px;
      color: @blue;
    }

    .footer__copyright a {
      font-size: 0;
    }
}
