.form__wrapper {

  .form__text {
    font-size: 14px;
    line-height: 30px;
    color: @blue;
    text-transform: uppercase;
  }

  .form__symbol {
    font-size: 14px;
    line-height: 30px;
    color: @pink;
  }

}
