.form__wrapper {
  .clearfix();
  margin-left: auto;
  margin-right: auto;

  @media @desktop-widths {
    padding-left: 130px;
    padding-right: 130px;
  }

  .form__required {
    @media @desktop-widths {
      float: right;
    }

    @media @tablet-widths {
      float: right;
      padding-right: 40px;
    }
  }

  .form__text {
    font-size: 14px;
    line-height: 30px;
    color: @blue;
    text-transform: uppercase;
  }

  .form__symbol {
    font-size: 14px;
    line-height: 30px;
    color: @pink;
  }

  .form__submit {

    @media @desktop-widths {
      float: left;
    }

    @media @tablet-widths {
      float: left;
      margin-left: 40px;
    }

  }

}
