.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;

  @media @desktop-widths {
    width: 940px;
  }

  @media @tablet-widths {
    width: 620px;
  }

  @media @mobile-widths {
    width: 100%;
  }


  .form-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .form__text {
    font-size: 14px;
    line-height: 30px;
    color: @blue;
    text-transform: uppercase;
  }

  .form__symbol {
    font-size: 14px;
    line-height: 30px;
    color: @pink;
  }

  .form__submit {

    @media @desktop-widths {
      order: 6;
      width: 300px;
    }

    @media @tablet-widths {
      order: 6;
      width: 300px;
    }

    @media @mobile-widths {
      order: 0;
      width: 280px;
    }

  }

}
