.page-header-desktop {
    background-color: fade(@dark-blue, 70%);

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;


    @media @mobile-widths {
      display: none;
    }

    @media @tablet-widths {
      display: none;
    }

    .page-header-desktop__wrapper {
      margin: 0 auto;
      width: 940px;
      display: inline-flex;
      justify-content: space-between;
    }

    .page-header-desktop__items {
      display: flex;
      list-style: none;
      justify-content: space-between;
      flex-grow: 1;
      padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    }

    .page-header-desktop__item {

      a {
        text-decoration: none;
        color: @white;
      }

    }

    img {
      margin-right: 160px;

    }

}


