.page-header-desktop {
    background-color: @dark-blue;
    padding: 35px 130px;

    @media @mobile-widths {
      display: none;
    }

    @media @tablet-widths {
      display: none;
    }

    .page-header-desktop__items {
      display: inline-flex;
      min-width: 600px;
      justify-content: space-between;
      list-style: none;
    }

    .page-header-desktop__item {

      a {
        text-decoration: none;
        color: @white;
      }

    }

}
