.photos {
  display: flex;
  flex-direction: column;

    .photos__look {
      line-height: 30px;
      color: @blue;

      @media @desktop-widths {
        font-size: 18px;
      }

      @media @tablet-widths {
        font-size: 18px;
      }

      @media @mobile-widths {
        font-size: 14px;
      }
    }

    .panorama-descr {
      margin: 0 auto;

      @media @desktop-widths {
        width: 940px;
      }

      @media @tablet-widths {
        width: 620px;
      }

      @media @mobile-widths {
        width: 280px;
      }
    }

    .photos__text {
      background: @gray;
      text-align: left;
      font-size: 14px;
      line-height: 24px;
      color: @blue;

      @media @desktop-widths {
        padding: 30px 25px;
      }

      @media @tablet-widths {
        padding: 30px 25px;
      }

      @media @mobile-widths {
        padding: 25px 15px;
      }
    }

    .photos__name {
      font-weight: 700;
    }

    .photos__time {
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .photos__like, .photos__like-count {
      font-size: 12px;
      color: @pink;
      text-transform: uppercase;
      text-decoration: none;
    }

    .photos__wrapper {
      margin-left: auto;
      margin-right: auto;
      font-size: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin:0 auto;

      @media @desktop-widths {
        width: 940px;
      }

      @media @tablet-widths {
        width: 620px;
      }

      @media @mobile-widths {
        width: 280px;
      }
    }

    .photos__standard {

      @media @desktop-widths {
        margin-top: 50px;
        width: 31%;
      }

      @media @tablet-widths {
        margin-top: 50px;
        width: 48%;
      }

      @media @mobile-widths {
        margin-top: 25px;
        width: 100%;
      }
    }

}
