.photo-edit {
    background: @gray;
    display: flex;
    justify-content: space-around;

    @media @desktop-widths {
      padding: 55px 80px;
      margin-left: 130px;
      margin-right: 130px;
      flex-direction: row;
    }

    @media @tablet-widths {
      padding: 60px 40px;
      flex-direction: row;
    }

    @media @mobile-widths {
      padding: 20px;
      flex-direction: column;
    }
}

