.reviews {
    background-color: @white;
    color: @blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    @media @desktop-widths {
      padding-top: 190px;
      width: 940px;

      &:before {
        content: "";
        position: absolute;
        background-image: url("../img/icon-quotes.svg");
        background-repeat: no-repeat;
        top: 73px;
        left: 433px;
        width: 80px;
        height: 65px;
      }
    }

    @media @tablet-widths {
      padding-top: 50px;
      width: 620px;
    }

    @media @mobile-widths {
      padding-top: 50px;
      width: 280px;
    }

    .reviews__name {
      width: 100%;
      color: @black;
      line-height: 30px;
      font-weight: 700;

      @media @desktop-widths {
        font-size: 24px;
        order: 2;
      }

      @media @tablet-widths{
        font-size: 20px;
         order: 2;
      }

      @media @mobile-widths {
        font-size: 18px;
        order: 0;
      }
    }

    .reviews__text {
      line-height: 30px;
      width: 100%;

      @media @desktop-widths {
        font-size: 18px;
        order: 1;
        max-width: 690px;
      }

      @media @tablet-widths {
        font-size: 18px;
        order: 1;
      }

      @media @mobile-widths {
        font-size: 14px;
        order: 0;
      }

    }

    .reviews__info {
      width: 100%;

      @media @desktop-widths {
        order: 3;
      }

      @media @tablet-widths {
        order: 3;
      }

      @media @mobile-widths {
        display: none;
        order: 0;
      }
    }



    .slider__input {
      display: none;
    }

    .slider__control {

      @media @tablet-widths {
        display: none;
      }

      @media @mobile-widths {
        display: none;
      }

      &--right {
        &:hover:after{
          background-image: url("../img/icon-review-arrow-right-hover.svg");
        }

        &:active:after {
          background-image: url("../img/icon-review-arrow-right-active.svg");
        }

        &:after {
          content: "";
          position: absolute;
          background-image: url("../img/icon-review-arrow-right.svg");
          background-repeat: no-repeat;
          top: 211px;
          right: 0;
          width: 22px;
          height: 42px;
        }

      }

      &--left {

        &:hover:after{
          background-image: url("../img/icon-review-arrow-left-hover.svg");
        }

        &:active:after {
          background-image: url("../img/icon-review-arrow-left-active.svg");
        }

        &:after {
          content: "";
          position: absolute;
          background-image: url("../img/icon-review-arrow-left.svg");
          top: 211px;
          width: 22px;
          height: 42px;
          left: 0;
        }

      }
    }

    .slider__control-toggle {
      order: 4;

      @media @tablet-widths {
        padding-top: 10px;
        padding-bottom: 20px;
      }

      @media @mobile-widths {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    }

    .reviews-input {

      @media @desktop-widths {
        display: none;
      }

      @media @tablet-widths {
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        border: 1px solid #bec2c7;
        border-radius: 50%;
        background-color: #bec2c7;
        margin-left: 18px;
      }

      @media @mobile-widths {
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        border: 1px solid #bec2c7;
        border-radius: 50%;
        background-color: #bec2c7;
        margin-left: 18px;
      }
    }

    .reviews-input-active {

      @media @desktop-widths {
        display: none;
      }

      @media @tablet-widths {
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        border: 3px solid @blue;
        background-color: @white;
        border-radius: 50%;
      }

      @media @mobile-widths {
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        border: 3px solid @blue;
        background-color: @white;
        border-radius: 50%;
      }
    }

}
