.reviews {
    background-color: @white;
    color: @blue;
    padding: 0 20px;

    &__name {
      color: @black;
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
    }

    &__text {
      font-size: 14px;
      line-height: 30px;
    }
}
